<html>
  <head>
    <title>My Wonderful Form</title>
  </head>
  <body>
    <div>{{greeting}}</div>
    <form method="POST" action="/processform">
      <input type="text" name="name" placeholder="Your name?">
      <input type="text" name="colour" placeholder="Favourite colour?">
      <input type="submit">
    </form>
  </body>
</html>